<div class="page">
  <div class="post-container">
    <div class="name-and-counter">
      <p>Title: <%= @post.title %> -- by <%= @user.name %></p>
      <p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <%= render partial: "shared/comment_container", locals: { user: @user, post: @post } %>
  <div class="like-and-comment">
    <%= link_to "Add Comment", new_user_post_comment_path(@user, @post) %>
    <%= form_with url: user_post_likes_path(@post.author.id, @post.id) do |form| %>
      <%= form.submit 'Like' %>
    <% end %>
  </div>
  <% if can?(:destroy, @post) %>
    <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete %>
  <% end %>
</div>

<style>
    .page {
        display: grid;
        place-items: center;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 440px;
        padding: 10px;
        border: 2px solid black;
        margin: 2px;
    }

    .name-and-counter {
        display: flex;
        justify-content: space-between;
    }

    .like-and-comment {
        display: flex;
        gap: 10px;
        margin: 10px;
    }
</style>